@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.step-line
		min-height 120px
	.step-numb
		min-width 20%
		
@media screen and (max-width: 1024px) and (-ms-high-contrast: none), (-ms-high-contrast: active) 
	//for media