//build:js js/combined.js
script(src='bower/jquery/dist/jquery.js')
script(src='bower/owl.carousel/dist/owl.carousel.min.js')
script(src='bower/svg4everybody/dist/svg4everybody.js')
script(src="js/jquery.smoothscroll.js")
script(src="bower/fancybox/dist/jquery.fancybox.js")
script(src="bower/page-scroll-to-id/jquery.malihu.PageScroll2id.js")
script(src="bower/bPopup/jquery.bpopup.min.js")
script(src="bower/jquery-validation/dist/jquery.validate.min.js")
// endbuild
script(src="js/script.js")
script(src="js/script-edit.js")

|	<script type="text/javascript">
|	(function (d, w, c) {
|	(w[c] = w[c] || []).push(function() {
|		try {
|				w.yaCounter44931559 = new Ya.Metrika({
|						id:44931559,
|						clickmap:true,
|						trackLinks:true,
|						accurateTrackBounce:true
|				});
|		} catch(e) { }
|	});
|	var n = d.getElementsByTagName("script")[0],
|		s = d.createElement("script"),
|		f = function () { n.parentNode.insertBefore(s, n); };
|	s.type = "text/javascript";
|	s.async = true;
|	s.src = "https://mc.yandex.ru/metrika/watch.js";
|	if (w.opera == "[object Opera]") {
|		d.addEventListener("DOMContentLoaded", f, false);
|	} else { f(); }
|	})(document, window, "yandex_metrika_callbacks");
|	</script>
|	<noscript><div><img src="https://mc.yandex.ru/watch/44931559" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</body>
</html>